- if obj.errors.any?
  #error_explanation
    %h2
      = pluralize(obj.errors.count, "error")
      prohibited this #{obj.class} from being saved:
    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg
